body {
    background-color: rgb(1, 1, 29);
}
h1{
    background-color: rgb(1, 1, 29);
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-style: oblique;
    font-weight: bolder;
    color: aliceblue;
}
img{
    height: 500px;
    width: 400px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 75%;
    border: 2px solid aliceblue;
}
nav{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder; 
}
